In [1]:
import pandas as pd

In [31]:
df=pd.read_excel('FPI.xlsx')
df.head(84)

    Sl   pH  NaCa  F  HCO3
0     1   4     2  4     4
1     2   4     1  2     4
2     3   4     3  2     4
3     4   3     1  4     2
4     5   3     5  4     1
..  ...  ..   ... ..   ...
78   79   4     2  3     3
79   80   3     1  1     2
80   81   3     1  3     1
81   82   3     1  3     4
82   83   3     4  1     4

[83 rows x 5 columns]

In [32]:


# Now calculate FPI using existing Na/Ca column
df['FPI'] = (df['pH'] + df['F'] + df['HCO3'] + df['NaCa']) / 4

In [33]:
df

    Sl   pH  NaCa  F  HCO3   FPI
0     1   4     2  4     4  3.50
1     2   4     1  2     4  2.75
2     3   4     3  2     4  3.25
3     4   3     1  4     2  2.50
4     5   3     5  4     1  3.25
..  ...  ..   ... ..   ...   ...
78   79   4     2  3     3  3.00
79   80   3     1  1     2  1.75
80   81   3     1  3     1  2.00
81   82   3     1  3     4  2.75
82   83   3     4  1     4  3.00

[83 rows x 6 columns]

In [34]:
df.to_excel("fpi_results.xlsx", index=False)