In [1]:
import pandas as pd

In [9]:
df=pd.read_excel('FPI.xlsx')
df.head(84)

    Sl   pH  Na/Ca  F  HCO3
0     1   4      2  4     4
1     2   4      1  2     4
2     3   4      3  2     4
3     4   3      1  4     2
4     5   3      5  4     1
..  ...  ..    ... ..   ...
78   79   4      2  3     3
79   80   3      1  1     2
80   81   3      1  3     1
81   82   3      1  3     4
82   83   3      4  1     4

[83 rows x 5 columns]

In [30]:


# Now calculate FPI using existing Na/Ca column
df['FPI'] = (df['pH'] + df['F'] + df['HCO3'] + df['Na/Ca']) / 4

KeyError: 'Na/Ca'