In [1]:
import pandas as pd

In [12]:
df=pd.read_excel('HHRA.xlsx')
df.head(84)

    Sample no.        NO3         F
0            1   1.350000  3.985507
1            2  16.529412  1.376812
2            3  36.000000  1.159420
3            4   5.000000  2.318841
4            5   0.294118  6.376812
..         ...        ...       ...
78          79   4.882353  3.840580
79          80   2.000000  0.652174
80          81   5.529412  4.347826
81          82   5.117647  4.347826
82          83   5.176471  0.007246

[83 rows x 3 columns]

In [15]:
def exmp(c):
    adi_NO3_infant = (c * 0.31 * 1 * 365) / (6.9 * 365)
    inhi_NO3_infant = adi_NO3_infant / 1.6
    return inhi_NO3_infant
x=exmp (df.NO3)
df['INHI NO3 infant']=x

In [16]:
df

    Sample no.        NO3         F  INHI NO3 infant
0            1   1.350000  3.985507         0.037908
1            2  16.529412  1.376812         0.464141
2            3  36.000000  1.159420         1.010870
3            4   5.000000  2.318841         0.140399
4            5   0.294118  6.376812         0.008259
..         ...        ...       ...              ...
78          79   4.882353  3.840580         0.137095
79          80   2.000000  0.652174         0.056159
80          81   5.529412  4.347826         0.155264
81          82   5.117647  4.347826         0.143702
82          83   5.176471  0.007246         0.145354

[83 rows x 4 columns]

In [17]:
def exmp(c):
    adi_NO3_children = (c * 0.68 * 12 * 365) / (18.7 * 4380)
    inhi_NO3_children = adi_NO3_children / 1.6
    return inhi_NO3_children
x=exmp (df.NO3)
df['INHI NO3 children']=x

In [18]:
df

    Sample no.        NO3         F  INHI NO3 infant  INHI NO3 children
0            1   1.350000  3.985507         0.037908           0.030682
1            2  16.529412  1.376812         0.464141           0.375668
2            3  36.000000  1.159420         1.010870           0.818182
3            4   5.000000  2.318841         0.140399           0.113636
4            5   0.294118  6.376812         0.008259           0.006684
..         ...        ...       ...              ...                ...
78          79   4.882353  3.840580         0.137095           0.110963
79          80   2.000000  0.652174         0.056159           0.045455
80          81   5.529412  4.347826         0.155264           0.125668
81          82   5.117647  4.347826         0.143702           0.116310
82          83   5.176471  0.007246         0.145354           0.117647

[83 rows x 5 columns]

In [19]:
def exmp(c):
    adi_NO3_adult = (c * 2.5 * 64 * 365) / (57.5 * 23360)
    inhi_NO3_adult = adi_NO3_adult / 1.6
    return inhi_NO3_adult
x=exmp (df.NO3)
df['INHI NO3 adult']=x

In [20]:
df

,Sample no.,NO3,F,INHI NO3 infant,INHI NO3 children,INHI NO3 adult
0,1,1.350000,3.985507,0.037908,0.030682,0.036685
1,2,16.529412,1.376812,0.464141,0.375668,0.449169
2,3,36.000000,1.159420,1.010870,0.818182,0.978261
3,4,5.000000,2.318841,0.140399,0.113636,0.135870
4,5,0.294118,6.376812,0.008259,0.006684,0.007992
...,...,...,...,...,...,...
78,79,4.882353,3.840580,0.137095,0.110963,0.132673
79,80,2.000000,0.652174,0.056159,0.045455,0.054348
80,81,5.529412,4.347826,0.155264,0.125668,0.150256
81,82,5.117647,4.347826,0.143702,0.116310,0.139066
82,83,5.176471,0.007246,0.145354,0.117647,0.140665

In [21]:
def exmp(c):
    adi_F_infant = (c * 0.31 * 1 * 365) / (6.9 * 365)
    inhi_F_infant = adi_F_infant / 0.06
    return inhi_F_infant
x=exmp (df.F)
df['INHI F infant']=x

In [22]:
df

,Sample no.,NO3,F,INHI NO3 infant,INHI NO3 children,INHI NO3 adult,INHI F infant
0,1,1.350000,3.985507,0.037908,0.030682,0.036685,2.984317
1,2,16.529412,1.376812,0.464141,0.375668,0.449169,1.030946
2,3,36.000000,1.159420,1.010870,0.818182,0.978261,0.868165
3,4,5.000000,2.318841,0.140399,0.113636,0.135870,1.736330
4,5,0.294118,6.376812,0.008259,0.006684,0.007992,4.774907
...,...,...,...,...,...,...,...
78,79,4.882353,3.840580,0.137095,0.110963,0.132673,2.875796
79,80,2.000000,0.652174,0.056159,0.045455,0.054348,0.488343
80,81,5.529412,4.347826,0.155264,0.125668,0.150256,3.255619
81,82,5.117647,4.347826,0.143702,0.116310,0.139066,3.255619
82,83,5.176471,0.007246,0.145354,0.117647,0.140665,0.005426

In [23]:
def exmp(c):
    adi_F_children = (c * 0.68*12*365) / (18.7*4380)
    inhi_F_children = adi_F_children / 0.06
    return inhi_F_children
x=exmp (df.F)
df['INHI F children']=x

In [24]:
df

,Sample no.,NO3,F,INHI NO3 infant,INHI NO3 children,INHI NO3 adult,INHI F infant,INHI F children
0,1,1.350000,3.985507,0.037908,0.030682,0.036685,2.984317,2.415459
1,2,16.529412,1.376812,0.464141,0.375668,0.449169,1.030946,0.834431
2,3,36.000000,1.159420,1.010870,0.818182,0.978261,0.868165,0.702679
3,4,5.000000,2.318841,0.140399,0.113636,0.135870,1.736330,1.405358
4,5,0.294118,6.376812,0.008259,0.006684,0.007992,4.774907,3.864734
...,...,...,...,...,...,...,...,...
78,79,4.882353,3.840580,0.137095,0.110963,0.132673,2.875796,2.327624
79,80,2.000000,0.652174,0.056159,0.045455,0.054348,0.488343,0.395257
80,81,5.529412,4.347826,0.155264,0.125668,0.150256,3.255619,2.635046
81,82,5.117647,4.347826,0.143702,0.116310,0.139066,3.255619,2.635046
82,83,5.176471,0.007246,0.145354,0.117647,0.140665,0.005426,0.004392

In [25]:
def exmp(c):
    adi_F_adult = (c * 2.5*64*365) / (57.5*23360)
    inhi_F_adult = adi_F_adult / 0.06
    return inhi_F_adult
x=exmp (df.F)
df['INHI F adult']=x

In [26]:
df

,Sample no.,NO3,F,INHI NO3 infant,INHI NO3 children,INHI NO3 adult,INHI F infant,INHI F children,INHI F adult
0,1,1.350000,3.985507,0.037908,0.030682,0.036685,2.984317,2.415459,2.888049
1,2,16.529412,1.376812,0.464141,0.375668,0.449169,1.030946,0.834431,0.997690
2,3,36.000000,1.159420,1.010870,0.818182,0.978261,0.868165,0.702679,0.840160
3,4,5.000000,2.318841,0.140399,0.113636,0.135870,1.736330,1.405358,1.680319
4,5,0.294118,6.376812,0.008259,0.006684,0.007992,4.774907,3.864734,4.620878
...,...,...,...,...,...,...,...,...,...
78,79,4.882353,3.840580,0.137095,0.110963,0.132673,2.875796,2.327624,2.783029
79,80,2.000000,0.652174,0.056159,0.045455,0.054348,0.488343,0.395257,0.472590
80,81,5.529412,4.347826,0.155264,0.125668,0.150256,3.255619,2.635046,3.150599
81,82,5.117647,4.347826,0.143702,0.116310,0.139066,3.255619,2.635046,3.150599
82,83,5.176471,0.007246,0.145354,0.117647,0.140665,0.005426,0.004392,0.005251

In [28]:

df['TNHI_infant'] = df.iloc[:, [3, 6]].sum(axis=1)

df['TNHI_children'] = df.iloc[:, [4, 7]].sum(axis=1)

df['TNHI_adult'] = df.iloc[:, [5, 8]].sum(axis=1)

In [31]:
df[['Sample no.','NO3','F','INHI NO3 infant','INHI NO3 children','INHI NO3 adult','INHI F infant','INHI F children','INHI F adult', 'TNHI_infant', 'TNHI_children', 'TNHI_adult']]

,Sample no.,NO3,F,INHI NO3 infant,INHI NO3 children,INHI NO3 adult,INHI F infant,INHI F children,INHI F adult,TNHI_infant,TNHI_children,TNHI_adult
0,1,1.350000,3.985507,0.037908,0.030682,0.036685,2.984317,2.415459,2.888049,3.022225,2.446141,2.924734
1,2,16.529412,1.376812,0.464141,0.375668,0.449169,1.030946,0.834431,0.997690,1.495087,1.210100,1.446858
2,3,36.000000,1.159420,1.010870,0.818182,0.978261,0.868165,0.702679,0.840160,1.879035,1.520861,1.818420
3,4,5.000000,2.318841,0.140399,0.113636,0.135870,1.736330,1.405358,1.680319,1.876728,1.518994,1.816189
4,5,0.294118,6.376812,0.008259,0.006684,0.007992,4.774907,3.864734,4.620878,4.783166,3.871419,4.628870
...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,4.882353,3.840580,0.137095,0.110963,0.132673,2.875796,2.327624,2.783029,3.012891,2.438587,2.915701
79,80,2.000000,0.652174,0.056159,0.045455,0.054348,0.488343,0.395257,0.472590,0.544502,0.440711,0.526938
80,81,5.529412,4.347826,0.155264,0.125668,0.150256,3.255619,2.635046,3.150599,3.410883,2.760715,3.300854
81,82,5.117647,4.347826,0.143702,0.116310,0.139066,3.255619,2.635046,3.150599,3.399321,2.751356,3.289665
82,83,5.176471,0.007246,0.145354,0.117647,0.140665,0.005426,0.004392,0.005251,0.150780,0.122039,0.145916

In [32]:
df.to_excel('HHRA_TNHI_output.xlsx', index=False)