In [1]:
import pandas as pd

In [3]:
df=pd.read_excel('water quality.xlsx')
df.head(84)

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3
0,1,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325
1,2,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336
2,3,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310
3,4,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165
4,5,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310
79,80,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200
80,81,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85
81,82,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421
82,83,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494

In [7]:
def exmp(c,w,s):
    relw=w/40
    pig=relw*(c/s)
    return pig
x=exmp (df.pH,4,8.5)
df['Ow_pH']=x

In [8]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3,Ow_pH
0,1,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325,0.094118
1,2,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336,0.080000
2,3,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310,0.080000
3,4,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165,0.084706
4,5,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122,0.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310,0.092941
79,80,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200,0.071765
80,81,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85,0.094118
81,82,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421,0.094118
82,83,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494,0.070588

In [11]:
def exmp(c, w=4, s=500):
    relw = w / 40
    return relw * (c / s)

df['Ow_TDS (m)'] = exmp(df['TDS (m)'])

In [12]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3,Ow_pH,Ow_TDS (m)
0,1,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325,0.094118,0.0940
1,2,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336,0.080000,0.1012
2,3,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310,0.080000,0.1180
3,4,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165,0.084706,0.0430
4,5,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122,0.100000,0.1244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310,0.092941,0.1392
79,80,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200,0.071765,0.0936
80,81,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85,0.094118,0.0520
81,82,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421,0.094118,0.1158
82,83,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494,0.070588,0.1446

In [13]:
def exmp(c,w,s):
    relw=w/40
    pig=relw*(c/s)
    return pig
x=exmp (df.Ca,2,75)
df['Ow_Ca']=x

In [14]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3,Ow_pH,Ow_TDS (m),Ow_Ca
0,1,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325,0.094118,0.0940,0.028000
1,2,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336,0.080000,0.1012,0.032000
2,3,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310,0.080000,0.1180,0.021333
3,4,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165,0.084706,0.0430,0.013333
4,5,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122,0.100000,0.1244,0.008000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310,0.092941,0.1392,0.028000
79,80,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200,0.071765,0.0936,0.040000
80,81,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85,0.094118,0.0520,0.016000
81,82,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421,0.094118,0.1158,0.024000
82,83,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494,0.070588,0.1446,0.008000

In [15]:
def exmp(c,w,s):
    relw=w/40
    pig=relw*(c/s)
    return pig
x=exmp (df.Mg,2,50)
df['Ow_Mg']=x

In [16]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3,Ow_pH,Ow_TDS (m),Ow_Ca,Ow_Mg
0,1,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325,0.094118,0.0940,0.028000,0.024
1,2,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336,0.080000,0.1012,0.032000,0.037
2,3,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310,0.080000,0.1180,0.021333,0.046
3,4,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165,0.084706,0.0430,0.013333,0.019
4,5,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122,0.100000,0.1244,0.008000,0.007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310,0.092941,0.1392,0.028000,0.026
79,80,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200,0.071765,0.0936,0.040000,0.045
80,81,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85,0.094118,0.0520,0.016000,0.010
81,82,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421,0.094118,0.1158,0.024000,0.002
82,83,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494,0.070588,0.1446,0.008000,0.039

In [17]:
def exmp(c,w,s):
    relw=w/40
    pig=relw*(c/s)
    return pig
x=exmp (df.Na,4,200)
df['Ow_Na']=x

In [18]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3,Ow_pH,Ow_TDS (m),Ow_Ca,Ow_Mg,Ow_Na
0,1,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325,0.094118,0.0940,0.028000,0.024,0.0215
1,2,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336,0.080000,0.1012,0.032000,0.037,0.0155
2,3,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310,0.080000,0.1180,0.021333,0.046,0.0275
3,4,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165,0.084706,0.0430,0.013333,0.019,0.0080
4,5,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122,0.100000,0.1244,0.008000,0.007,0.0915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310,0.092941,0.1392,0.028000,0.026,0.0580
79,80,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200,0.071765,0.0936,0.040000,0.045,0.0600
80,81,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85,0.094118,0.0520,0.016000,0.010,0.0150
81,82,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421,0.094118,0.1158,0.024000,0.002,0.0130
82,83,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494,0.070588,0.1446,0.008000,0.039,0.0465

In [19]:
def exmp(c,w,s):
    relw=w/40
    pig=relw*(c/s)
    return pig
x=exmp (df.K,2,12)
df['Ow_K']=x

In [20]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3,Ow_pH,Ow_TDS (m),Ow_Ca,Ow_Mg,Ow_Na,Ow_K
0,1,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325,0.094118,0.0940,0.028000,0.024,0.0215,0.012500
1,2,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336,0.080000,0.1012,0.032000,0.037,0.0155,0.012500
2,3,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310,0.080000,0.1180,0.021333,0.046,0.0275,0.025000
3,4,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165,0.084706,0.0430,0.013333,0.019,0.0080,0.016667
4,5,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122,0.100000,0.1244,0.008000,0.007,0.0915,0.025000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310,0.092941,0.1392,0.028000,0.026,0.0580,0.025000
79,80,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200,0.071765,0.0936,0.040000,0.045,0.0600,0.012500
80,81,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85,0.094118,0.0520,0.016000,0.010,0.0150,0.070833
81,82,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421,0.094118,0.1158,0.024000,0.002,0.0130,0.004167
82,83,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494,0.070588,0.1446,0.008000,0.039,0.0465,0.004167

In [21]:
def exmp(c,w,s):
    relw=w/40
    pig=relw*(c/s)
    return pig
x=exmp (df.HCO3,3,600)
df['Ow_HCO3']=x

In [22]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,...,Cl,F,HCO3,Ow_pH,Ow_TDS (m),Ow_Ca,Ow_Mg,Ow_Na,Ow_K,Ow_HCO3
0,1,8.0,734,470,205,43,3.0,42,24,6,...,30,4.00,325,0.094118,0.0940,0.028000,0.024,0.0215,0.012500,0.040625
1,2,6.8,791,506,270,31,3.0,48,37,4,...,55,1.40,336,0.080000,0.1012,0.032000,0.037,0.0155,0.012500,0.042000
2,3,6.8,922,590,270,55,6.0,32,46,17,...,92,1.20,310,0.080000,0.1180,0.021333,0.046,0.0275,0.025000,0.038750
3,4,7.2,336,215,130,16,4.0,20,19,6,...,2,2.30,165,0.084706,0.0430,0.013333,0.019,0.0080,0.016667,0.020625
4,5,8.5,972,622,60,183,6.0,12,7,43,...,250,6.40,122,0.100000,0.1244,0.008000,0.007,0.0915,0.025000,0.015250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,...,150,3.80,310,0.092941,0.1392,0.028000,0.026,0.0580,0.025000,0.038750
79,80,6.1,731,468,335,120,3.0,60,45,20,...,30,0.70,200,0.071765,0.0936,0.040000,0.045,0.0600,0.012500,0.025000
80,81,8.0,406,260,100,30,17.0,24,10,20,...,70,4.30,85,0.094118,0.0520,0.016000,0.010,0.0150,0.070833,0.010625
81,82,8.0,905,579,100,26,1.0,36,2,16,...,70,4.30,421,0.094118,0.1158,0.024000,0.002,0.0130,0.004167,0.052625
82,83,6.0,1130,723,190,93,1.0,12,39,14,...,70,0.01,494,0.070588,0.1446,0.008000,0.039,0.0465,0.004167,0.061750

In [26]:
def exmp(c,w,s):
    relw=w/40
    pig=relw*(c/s)
    return pig
x=exmp (df.Cl,4,250)
df['Ow_Cl']=x

In [27]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,...,F,HCO3,Ow_pH,Ow_TDS (m),Ow_Ca,Ow_Mg,Ow_Na,Ow_K,Ow_HCO3,Ow_Cl
0,1,8.0,734,470,205,43,3.0,42,24,6,...,4.00,325,0.094118,0.0940,0.028000,0.024,0.0215,0.012500,0.040625,0.0120
1,2,6.8,791,506,270,31,3.0,48,37,4,...,1.40,336,0.080000,0.1012,0.032000,0.037,0.0155,0.012500,0.042000,0.0220
2,3,6.8,922,590,270,55,6.0,32,46,17,...,1.20,310,0.080000,0.1180,0.021333,0.046,0.0275,0.025000,0.038750,0.0368
3,4,7.2,336,215,130,16,4.0,20,19,6,...,2.30,165,0.084706,0.0430,0.013333,0.019,0.0080,0.016667,0.020625,0.0008
4,5,8.5,972,622,60,183,6.0,12,7,43,...,6.40,122,0.100000,0.1244,0.008000,0.007,0.0915,0.025000,0.015250,0.1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,...,3.80,310,0.092941,0.1392,0.028000,0.026,0.0580,0.025000,0.038750,0.0600
79,80,6.1,731,468,335,120,3.0,60,45,20,...,0.70,200,0.071765,0.0936,0.040000,0.045,0.0600,0.012500,0.025000,0.0120
80,81,8.0,406,260,100,30,17.0,24,10,20,...,4.30,85,0.094118,0.0520,0.016000,0.010,0.0150,0.070833,0.010625,0.0280
81,82,8.0,905,579,100,26,1.0,36,2,16,...,4.30,421,0.094118,0.1158,0.024000,0.002,0.0130,0.004167,0.052625,0.0280
82,83,6.0,1130,723,190,93,1.0,12,39,14,...,0.01,494,0.070588,0.1446,0.008000,0.039,0.0465,0.004167,0.061750,0.0280

In [28]:
def exmp(c,w,s):
    relw=w/40
    pig=relw*(c/s)
    return pig
x=exmp (df.SO4,5,250)
df['Ow_SO4']=x

In [29]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,...,HCO3,Ow_pH,Ow_TDS (m),Ow_Ca,Ow_Mg,Ow_Na,Ow_K,Ow_HCO3,Ow_Cl,Ow_SO4
0,1,8.0,734,470,205,43,3.0,42,24,6,...,325,0.094118,0.0940,0.028000,0.024,0.0215,0.012500,0.040625,0.0120,0.0030
1,2,6.8,791,506,270,31,3.0,48,37,4,...,336,0.080000,0.1012,0.032000,0.037,0.0155,0.012500,0.042000,0.0220,0.0020
2,3,6.8,922,590,270,55,6.0,32,46,17,...,310,0.080000,0.1180,0.021333,0.046,0.0275,0.025000,0.038750,0.0368,0.0085
3,4,7.2,336,215,130,16,4.0,20,19,6,...,165,0.084706,0.0430,0.013333,0.019,0.0080,0.016667,0.020625,0.0008,0.0030
4,5,8.5,972,622,60,183,6.0,12,7,43,...,122,0.100000,0.1244,0.008000,0.007,0.0915,0.025000,0.015250,0.1000,0.0215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,...,310,0.092941,0.1392,0.028000,0.026,0.0580,0.025000,0.038750,0.0600,0.0200
79,80,6.1,731,468,335,120,3.0,60,45,20,...,200,0.071765,0.0936,0.040000,0.045,0.0600,0.012500,0.025000,0.0120,0.0100
80,81,8.0,406,260,100,30,17.0,24,10,20,...,85,0.094118,0.0520,0.016000,0.010,0.0150,0.070833,0.010625,0.0280,0.0100
81,82,8.0,905,579,100,26,1.0,36,2,16,...,421,0.094118,0.1158,0.024000,0.002,0.0130,0.004167,0.052625,0.0280,0.0080
82,83,6.0,1130,723,190,93,1.0,12,39,14,...,494,0.070588,0.1446,0.008000,0.039,0.0465,0.004167,0.061750,0.0280,0.0070

In [30]:
def exmp(c,w,s):
    relw=w/40
    pig=relw*(c/s)
    return pig
x=exmp (df.NO3,5,45)
df['Ow_NO3']=x

In [31]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,...,Ow_pH,Ow_TDS (m),Ow_Ca,Ow_Mg,Ow_Na,Ow_K,Ow_HCO3,Ow_Cl,Ow_SO4,Ow_NO3
0,1,8.0,734,470,205,43,3.0,42,24,6,...,0.094118,0.0940,0.028000,0.024,0.0215,0.012500,0.040625,0.0120,0.0030,0.002778
1,2,6.8,791,506,270,31,3.0,48,37,4,...,0.080000,0.1012,0.032000,0.037,0.0155,0.012500,0.042000,0.0220,0.0020,0.047222
2,3,6.8,922,590,270,55,6.0,32,46,17,...,0.080000,0.1180,0.021333,0.046,0.0275,0.025000,0.038750,0.0368,0.0085,0.100000
3,4,7.2,336,215,130,16,4.0,20,19,6,...,0.084706,0.0430,0.013333,0.019,0.0080,0.016667,0.020625,0.0008,0.0030,0.013889
4,5,8.5,972,622,60,183,6.0,12,7,43,...,0.100000,0.1244,0.008000,0.007,0.0915,0.025000,0.015250,0.1000,0.0215,0.000833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,...,0.092941,0.1392,0.028000,0.026,0.0580,0.025000,0.038750,0.0600,0.0200,0.013889
79,80,6.1,731,468,335,120,3.0,60,45,20,...,0.071765,0.0936,0.040000,0.045,0.0600,0.012500,0.025000,0.0120,0.0100,0.005556
80,81,8.0,406,260,100,30,17.0,24,10,20,...,0.094118,0.0520,0.016000,0.010,0.0150,0.070833,0.010625,0.0280,0.0100,0.016667
81,82,8.0,905,579,100,26,1.0,36,2,16,...,0.094118,0.1158,0.024000,0.002,0.0130,0.004167,0.052625,0.0280,0.0080,0.013889
82,83,6.0,1130,723,190,93,1.0,12,39,14,...,0.070588,0.1446,0.008000,0.039,0.0465,0.004167,0.061750,0.0280,0.0070,0.013889

In [32]:
def exmp(c,w,s):
    relw=w/40
    pig=relw*(c/s)
    return pig
x=exmp (df.F,5,1.5)
df['Ow_F']=x

In [33]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,...,Ow_TDS (m),Ow_Ca,Ow_Mg,Ow_Na,Ow_K,Ow_HCO3,Ow_Cl,Ow_SO4,Ow_NO3,Ow_F
0,1,8.0,734,470,205,43,3.0,42,24,6,...,0.0940,0.028000,0.024,0.0215,0.012500,0.040625,0.0120,0.0030,0.002778,0.333333
1,2,6.8,791,506,270,31,3.0,48,37,4,...,0.1012,0.032000,0.037,0.0155,0.012500,0.042000,0.0220,0.0020,0.047222,0.116667
2,3,6.8,922,590,270,55,6.0,32,46,17,...,0.1180,0.021333,0.046,0.0275,0.025000,0.038750,0.0368,0.0085,0.100000,0.100000
3,4,7.2,336,215,130,16,4.0,20,19,6,...,0.0430,0.013333,0.019,0.0080,0.016667,0.020625,0.0008,0.0030,0.013889,0.191667
4,5,8.5,972,622,60,183,6.0,12,7,43,...,0.1244,0.008000,0.007,0.0915,0.025000,0.015250,0.1000,0.0215,0.000833,0.533333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,...,0.1392,0.028000,0.026,0.0580,0.025000,0.038750,0.0600,0.0200,0.013889,0.316667
79,80,6.1,731,468,335,120,3.0,60,45,20,...,0.0936,0.040000,0.045,0.0600,0.012500,0.025000,0.0120,0.0100,0.005556,0.058333
80,81,8.0,406,260,100,30,17.0,24,10,20,...,0.0520,0.016000,0.010,0.0150,0.070833,0.010625,0.0280,0.0100,0.016667,0.358333
81,82,8.0,905,579,100,26,1.0,36,2,16,...,0.1158,0.024000,0.002,0.0130,0.004167,0.052625,0.0280,0.0080,0.013889,0.358333
82,83,6.0,1130,723,190,93,1.0,12,39,14,...,0.1446,0.008000,0.039,0.0465,0.004167,0.061750,0.0280,0.0070,0.013889,0.000833

In [34]:
df.drop(['EC','TH'],axis=1,inplace=True)

In [35]:
df

,Sl no.,pH,TDS (m),Na,K,Ca,Mg,SO4,NO3,Cl,...,Ow_TDS (m),Ow_Ca,Ow_Mg,Ow_Na,Ow_K,Ow_HCO3,Ow_Cl,Ow_SO4,Ow_NO3,Ow_F
0,1,8.0,470,43,3.0,42,24,6,1.0,30,...,0.0940,0.028000,0.024,0.0215,0.012500,0.040625,0.0120,0.0030,0.002778,0.333333
1,2,6.8,506,31,3.0,48,37,4,17.0,55,...,0.1012,0.032000,0.037,0.0155,0.012500,0.042000,0.0220,0.0020,0.047222,0.116667
2,3,6.8,590,55,6.0,32,46,17,36.0,92,...,0.1180,0.021333,0.046,0.0275,0.025000,0.038750,0.0368,0.0085,0.100000,0.100000
3,4,7.2,215,16,4.0,20,19,6,5.0,2,...,0.0430,0.013333,0.019,0.0080,0.016667,0.020625,0.0008,0.0030,0.013889,0.191667
4,5,8.5,622,183,6.0,12,7,43,0.3,250,...,0.1244,0.008000,0.007,0.0915,0.025000,0.015250,0.1000,0.0215,0.000833,0.533333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,696,116,6.0,42,26,40,5.0,150,...,0.1392,0.028000,0.026,0.0580,0.025000,0.038750,0.0600,0.0200,0.013889,0.316667
79,80,6.1,468,120,3.0,60,45,20,2.0,30,...,0.0936,0.040000,0.045,0.0600,0.012500,0.025000,0.0120,0.0100,0.005556,0.058333
80,81,8.0,260,30,17.0,24,10,20,6.0,70,...,0.0520,0.016000,0.010,0.0150,0.070833,0.010625,0.0280,0.0100,0.016667,0.358333
81,82,8.0,579,26,1.0,36,2,16,5.0,70,...,0.1158,0.024000,0.002,0.0130,0.004167,0.052625,0.0280,0.0080,0.013889,0.358333
82,83,6.0,723,93,1.0,12,39,14,5.0,70,...,0.1446,0.008000,0.039,0.0465,0.004167,0.061750,0.0280,0.0070,0.013889,0.000833

In [37]:
z=df.iloc[:,12:]
z
c=z.sum(axis=1)

In [39]:
z['final pig']=c
z.to_excel('PIG.xlsx')