In [ ]:
print('hello guys')

In [2]:
import pandas as pd

In [4]:
df=pd.read_excel('water quality.xlsx')
df.head(84)

,Sl no.,longitude,latitude,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3
0,1,85.55518,20.20460,6.72,734.3750,470.0,204.8875,42.8,2.7,42.000,24.362805,6.00,1.350000,30.0,3.985507,325.0
1,2,85.52789,20.21843,6.82,790.6250,506.0,269.8750,31.0,3.1,48.000,36.554878,3.81,16.529412,55.0,1.376812,336.0
2,3,85.50241,20.22056,6.80,921.8750,590.0,270.0000,55.0,5.5,32.040,46.317073,17.46,36.000000,92.0,1.159420,310.0
3,4,85.51756,20.22677,7.19,335.9375,215.0,130.0000,16.0,3.5,20.025,19.496951,6.41,5.000000,2.0,2.318841,165.0
4,5,85.51331,20.20680,7.73,971.8750,622.0,60.0000,183.2,5.9,12.015,7.307927,42.68,0.294118,250.0,6.376812,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,85.21474,20.33129,9.45,1087.5000,696.0,211.6000,116.0,6.0,42.000,26.000000,40.00,4.882353,150.0,3.840580,310.0
79,80,85.22398,20.31859,8.24,731.2500,468.0,334.5000,120.0,3.0,60.000,45.000000,20.00,2.000000,30.0,0.652174,200.0
80,81,85.21126,20.28200,8.22,406.2500,260.0,100.0000,30.0,17.4,24.030,9.737805,19.60,5.529412,70.0,4.347826,85.4
81,82,85.23538,20.27287,8.77,904.6875,579.0,100.0000,25.9,0.7,36.045,2.411585,16.13,5.117647,70.0,4.347826,420.9
82,83,85.26775,20.28239,8.23,1129.6875,723.0,190.0000,92.8,1.3,12.015,39.015244,14.26,5.176471,70.0,0.007246,494.1

In [5]:
df=pd.read_excel('water quality.xlsx')
df.head(84)

,Sl no.,longitude,latitude,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3
0,1,85.55518,20.20460,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325
1,2,85.52789,20.21843,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336
2,3,85.50241,20.22056,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310
3,4,85.51756,20.22677,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165
4,5,85.51331,20.20680,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,85.21474,20.33129,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310
79,80,85.22398,20.31859,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200
80,81,85.21126,20.28200,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85
81,82,85.23538,20.27287,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421
82,83,85.26775,20.28239,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494

In [15]:
def exmp(c,w,s):
    relw=w/39
    wqi=relw*(c/s)*100
    return wqi
x=exmp(df.pH,4,8.5)
df['sub_index_pH']=x

In [20]:
df.drop(['latitude','longitude','sub_index_HCO3'],axis=1,inplace=True)

KeyError: "['latitude', 'longitude'] not found in axis"

In [22]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3,sub_index_HCO3,sub_index_pH
0,1,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325,9.653092,9.653092
1,2,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336,8.205128,8.205128
2,3,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310,8.205128,8.205128
3,4,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165,8.687783,8.687783
4,5,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122,10.256410,10.256410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310,9.532428,9.532428
79,80,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200,7.360483,7.360483
80,81,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85,9.653092,9.653092
81,82,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421,9.653092,9.653092
82,83,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494,7.239819,7.239819

In [23]:
def exmp(c,w,s):
    relw=w/39
    wqi=relw*(c/s)*100
    return wqi
x=exmp(df.EC,4,1500)
df['sub_index_EC']=x

In [24]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3,sub_index_HCO3,sub_index_pH,sub_index_EC
0,1,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325,9.653092,9.653092,5.018803
1,2,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336,8.205128,8.205128,5.408547
2,3,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310,8.205128,8.205128,6.304274
3,4,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165,8.687783,8.687783,2.297436
4,5,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122,10.256410,10.256410,6.646154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310,9.532428,9.532428,7.439316
79,80,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200,7.360483,7.360483,4.998291
80,81,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85,9.653092,9.653092,2.776068
81,82,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421,9.653092,9.653092,6.188034
82,83,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494,7.239819,7.239819,7.726496

In [25]:
df.drop(['sub_index_HCO3'],axis=1,inplace=True)

In [26]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3,sub_index_pH,sub_index_EC
0,1,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325,9.653092,5.018803
1,2,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336,8.205128,5.408547
2,3,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310,8.205128,6.304274
3,4,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165,8.687783,2.297436
4,5,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122,10.256410,6.646154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310,9.532428,7.439316
79,80,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200,7.360483,4.998291
80,81,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85,9.653092,2.776068
81,82,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421,9.653092,6.188034
82,83,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494,7.239819,7.726496

In [41]:
def exmp(c,w,s):
    relw=w/39
    wqi=relw*(c/s)*100
    return wqi
x = exmp(df['TDS (m)'], 5, 500)
df['sub_index_TDS (m)'] = x

In [42]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3,sub_index_pH,sub_index_EC,sub_index_TH,sub_index_TDS (m)
0,1,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325,9.653092,5.018803,2.628205,12.051282
1,2,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336,8.205128,5.408547,3.461538,12.974359
2,3,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310,8.205128,6.304274,3.461538,15.128205
3,4,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165,8.687783,2.297436,1.666667,5.512821
4,5,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122,10.256410,6.646154,0.769231,15.948718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310,9.532428,7.439316,2.717949,17.846154
79,80,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200,7.360483,4.998291,4.294872,12.000000
80,81,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85,9.653092,2.776068,1.282051,6.666667
81,82,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421,9.653092,6.188034,1.282051,14.846154
82,83,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494,7.239819,7.726496,2.435897,18.538462

In [36]:
def exmp(c,w,s):
    relw=w/39
    wqi=relw*(c/s)*100
    return wqi
x=exmp(df.TDS (m),5,500)
df['sub_index_TDS (m)']=x

AttributeError: 'DataFrame' object has no attribute 'TDS'

In [43]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3,sub_index_pH,sub_index_EC,sub_index_TH,sub_index_TDS (m)
0,1,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325,9.653092,5.018803,2.628205,12.051282
1,2,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336,8.205128,5.408547,3.461538,12.974359
2,3,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310,8.205128,6.304274,3.461538,15.128205
3,4,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165,8.687783,2.297436,1.666667,5.512821
4,5,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122,10.256410,6.646154,0.769231,15.948718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310,9.532428,7.439316,2.717949,17.846154
79,80,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200,7.360483,4.998291,4.294872,12.000000
80,81,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85,9.653092,2.776068,1.282051,6.666667
81,82,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421,9.653092,6.188034,1.282051,14.846154
82,83,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494,7.239819,7.726496,2.435897,18.538462

In [39]:
def exmp(c,w,s):
    relw=w/39
    wqi=relw*(c/s)*100
    return wqi
x=exmp(df.TH,3,600)
df['sub_index_TH']=x

In [44]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3,sub_index_pH,sub_index_EC,sub_index_TH,sub_index_TDS (m)
0,1,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325,9.653092,5.018803,2.628205,12.051282
1,2,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336,8.205128,5.408547,3.461538,12.974359
2,3,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310,8.205128,6.304274,3.461538,15.128205
3,4,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165,8.687783,2.297436,1.666667,5.512821
4,5,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122,10.256410,6.646154,0.769231,15.948718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310,9.532428,7.439316,2.717949,17.846154
79,80,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200,7.360483,4.998291,4.294872,12.000000
80,81,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85,9.653092,2.776068,1.282051,6.666667
81,82,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421,9.653092,6.188034,1.282051,14.846154
82,83,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494,7.239819,7.726496,2.435897,18.538462

In [45]:
def exmp(c,w,s):
    relw=w/39
    wqi=relw*(c/s)*100
    return wqi
x = exmp(df['Na'], 2, 200)
df['sub_index_Na'] = x

In [46]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3,sub_index_pH,sub_index_EC,sub_index_TH,sub_index_TDS (m),sub_index_Na
0,1,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325,9.653092,5.018803,2.628205,12.051282,1.102564
1,2,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336,8.205128,5.408547,3.461538,12.974359,0.794872
2,3,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310,8.205128,6.304274,3.461538,15.128205,1.410256
3,4,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165,8.687783,2.297436,1.666667,5.512821,0.410256
4,5,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122,10.256410,6.646154,0.769231,15.948718,4.692308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310,9.532428,7.439316,2.717949,17.846154,2.974359
79,80,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200,7.360483,4.998291,4.294872,12.000000,3.076923
80,81,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85,9.653092,2.776068,1.282051,6.666667,0.769231
81,82,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421,9.653092,6.188034,1.282051,14.846154,0.666667
82,83,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494,7.239819,7.726496,2.435897,18.538462,2.384615

In [47]:
def exmp(c,w,s):
    relw=w/39
    wqi=relw*(c/s)*100
    return wqi
x = exmp(df['K'], 1, 12)
df['sub_index_K'] = x

In [48]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,NO3,Cl,F,HCO3,sub_index_pH,sub_index_EC,sub_index_TH,sub_index_TDS (m),sub_index_Na,sub_index_K
0,1,8.0,734,470,205,43,3.0,42,24,6,1.0,30,4.00,325,9.653092,5.018803,2.628205,12.051282,1.102564,0.641026
1,2,6.8,791,506,270,31,3.0,48,37,4,17.0,55,1.40,336,8.205128,5.408547,3.461538,12.974359,0.794872,0.641026
2,3,6.8,922,590,270,55,6.0,32,46,17,36.0,92,1.20,310,8.205128,6.304274,3.461538,15.128205,1.410256,1.282051
3,4,7.2,336,215,130,16,4.0,20,19,6,5.0,2,2.30,165,8.687783,2.297436,1.666667,5.512821,0.410256,0.854701
4,5,8.5,972,622,60,183,6.0,12,7,43,0.3,250,6.40,122,10.256410,6.646154,0.769231,15.948718,4.692308,1.282051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,5.0,150,3.80,310,9.532428,7.439316,2.717949,17.846154,2.974359,1.282051
79,80,6.1,731,468,335,120,3.0,60,45,20,2.0,30,0.70,200,7.360483,4.998291,4.294872,12.000000,3.076923,0.641026
80,81,8.0,406,260,100,30,17.0,24,10,20,6.0,70,4.30,85,9.653092,2.776068,1.282051,6.666667,0.769231,3.632479
81,82,8.0,905,579,100,26,1.0,36,2,16,5.0,70,4.30,421,9.653092,6.188034,1.282051,14.846154,0.666667,0.213675
82,83,6.0,1130,723,190,93,1.0,12,39,14,5.0,70,0.01,494,7.239819,7.726496,2.435897,18.538462,2.384615,0.213675

In [50]:
def exmp(c,w,s):
    relw=w/39
    wqi=relw*(c/s)*100
    return wqi
x = exmp(df['Ca'], 2, 75)
df['sub_index_Ca'] = x

In [51]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,...,Cl,F,HCO3,sub_index_pH,sub_index_EC,sub_index_TH,sub_index_TDS (m),sub_index_Na,sub_index_K,sub_index_Ca
0,1,8.0,734,470,205,43,3.0,42,24,6,...,30,4.00,325,9.653092,5.018803,2.628205,12.051282,1.102564,0.641026,2.871795
1,2,6.8,791,506,270,31,3.0,48,37,4,...,55,1.40,336,8.205128,5.408547,3.461538,12.974359,0.794872,0.641026,3.282051
2,3,6.8,922,590,270,55,6.0,32,46,17,...,92,1.20,310,8.205128,6.304274,3.461538,15.128205,1.410256,1.282051,2.188034
3,4,7.2,336,215,130,16,4.0,20,19,6,...,2,2.30,165,8.687783,2.297436,1.666667,5.512821,0.410256,0.854701,1.367521
4,5,8.5,972,622,60,183,6.0,12,7,43,...,250,6.40,122,10.256410,6.646154,0.769231,15.948718,4.692308,1.282051,0.820513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,...,150,3.80,310,9.532428,7.439316,2.717949,17.846154,2.974359,1.282051,2.871795
79,80,6.1,731,468,335,120,3.0,60,45,20,...,30,0.70,200,7.360483,4.998291,4.294872,12.000000,3.076923,0.641026,4.102564
80,81,8.0,406,260,100,30,17.0,24,10,20,...,70,4.30,85,9.653092,2.776068,1.282051,6.666667,0.769231,3.632479,1.641026
81,82,8.0,905,579,100,26,1.0,36,2,16,...,70,4.30,421,9.653092,6.188034,1.282051,14.846154,0.666667,0.213675,2.461538
82,83,6.0,1130,723,190,93,1.0,12,39,14,...,70,0.01,494,7.239819,7.726496,2.435897,18.538462,2.384615,0.213675,0.820513

In [52]:
def exmp(c,w,s):
    relw=w/39
    wqi=relw*(c/s)*100
    return wqi
x = exmp(df['Mg'], 2, 50)
df['sub_index_Mg'] = x

In [53]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,...,F,HCO3,sub_index_pH,sub_index_EC,sub_index_TH,sub_index_TDS (m),sub_index_Na,sub_index_K,sub_index_Ca,sub_index_Mg
0,1,8.0,734,470,205,43,3.0,42,24,6,...,4.00,325,9.653092,5.018803,2.628205,12.051282,1.102564,0.641026,2.871795,2.461538
1,2,6.8,791,506,270,31,3.0,48,37,4,...,1.40,336,8.205128,5.408547,3.461538,12.974359,0.794872,0.641026,3.282051,3.794872
2,3,6.8,922,590,270,55,6.0,32,46,17,...,1.20,310,8.205128,6.304274,3.461538,15.128205,1.410256,1.282051,2.188034,4.717949
3,4,7.2,336,215,130,16,4.0,20,19,6,...,2.30,165,8.687783,2.297436,1.666667,5.512821,0.410256,0.854701,1.367521,1.948718
4,5,8.5,972,622,60,183,6.0,12,7,43,...,6.40,122,10.256410,6.646154,0.769231,15.948718,4.692308,1.282051,0.820513,0.717949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,...,3.80,310,9.532428,7.439316,2.717949,17.846154,2.974359,1.282051,2.871795,2.666667
79,80,6.1,731,468,335,120,3.0,60,45,20,...,0.70,200,7.360483,4.998291,4.294872,12.000000,3.076923,0.641026,4.102564,4.615385
80,81,8.0,406,260,100,30,17.0,24,10,20,...,4.30,85,9.653092,2.776068,1.282051,6.666667,0.769231,3.632479,1.641026,1.025641
81,82,8.0,905,579,100,26,1.0,36,2,16,...,4.30,421,9.653092,6.188034,1.282051,14.846154,0.666667,0.213675,2.461538,0.205128
82,83,6.0,1130,723,190,93,1.0,12,39,14,...,0.01,494,7.239819,7.726496,2.435897,18.538462,2.384615,0.213675,0.820513,4.000000

In [54]:
def exmp(c,w,s):
    relw=w/39
    wqi=relw*(c/s)*100
    return wqi
x = exmp(df['SO4'], 3, 250)
df['sub_index_SO4'] = x

In [55]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,...,HCO3,sub_index_pH,sub_index_EC,sub_index_TH,sub_index_TDS (m),sub_index_Na,sub_index_K,sub_index_Ca,sub_index_Mg,sub_index_SO4
0,1,8.0,734,470,205,43,3.0,42,24,6,...,325,9.653092,5.018803,2.628205,12.051282,1.102564,0.641026,2.871795,2.461538,0.184615
1,2,6.8,791,506,270,31,3.0,48,37,4,...,336,8.205128,5.408547,3.461538,12.974359,0.794872,0.641026,3.282051,3.794872,0.123077
2,3,6.8,922,590,270,55,6.0,32,46,17,...,310,8.205128,6.304274,3.461538,15.128205,1.410256,1.282051,2.188034,4.717949,0.523077
3,4,7.2,336,215,130,16,4.0,20,19,6,...,165,8.687783,2.297436,1.666667,5.512821,0.410256,0.854701,1.367521,1.948718,0.184615
4,5,8.5,972,622,60,183,6.0,12,7,43,...,122,10.256410,6.646154,0.769231,15.948718,4.692308,1.282051,0.820513,0.717949,1.323077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,...,310,9.532428,7.439316,2.717949,17.846154,2.974359,1.282051,2.871795,2.666667,1.230769
79,80,6.1,731,468,335,120,3.0,60,45,20,...,200,7.360483,4.998291,4.294872,12.000000,3.076923,0.641026,4.102564,4.615385,0.615385
80,81,8.0,406,260,100,30,17.0,24,10,20,...,85,9.653092,2.776068,1.282051,6.666667,0.769231,3.632479,1.641026,1.025641,0.615385
81,82,8.0,905,579,100,26,1.0,36,2,16,...,421,9.653092,6.188034,1.282051,14.846154,0.666667,0.213675,2.461538,0.205128,0.492308
82,83,6.0,1130,723,190,93,1.0,12,39,14,...,494,7.239819,7.726496,2.435897,18.538462,2.384615,0.213675,0.820513,4.000000,0.430769

In [56]:
def exmp(c,w,s):
    relw=w/39
    wqi=relw*(c/s)*100
    return wqi
x = exmp(df['NO3'], 5, 45)
df['sub_index_NO3'] = x

In [57]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,...,sub_index_pH,sub_index_EC,sub_index_TH,sub_index_TDS (m),sub_index_Na,sub_index_K,sub_index_Ca,sub_index_Mg,sub_index_SO4,sub_index_NO3
0,1,8.0,734,470,205,43,3.0,42,24,6,...,9.653092,5.018803,2.628205,12.051282,1.102564,0.641026,2.871795,2.461538,0.184615,0.284900
1,2,6.8,791,506,270,31,3.0,48,37,4,...,8.205128,5.408547,3.461538,12.974359,0.794872,0.641026,3.282051,3.794872,0.123077,4.843305
2,3,6.8,922,590,270,55,6.0,32,46,17,...,8.205128,6.304274,3.461538,15.128205,1.410256,1.282051,2.188034,4.717949,0.523077,10.256410
3,4,7.2,336,215,130,16,4.0,20,19,6,...,8.687783,2.297436,1.666667,5.512821,0.410256,0.854701,1.367521,1.948718,0.184615,1.424501
4,5,8.5,972,622,60,183,6.0,12,7,43,...,10.256410,6.646154,0.769231,15.948718,4.692308,1.282051,0.820513,0.717949,1.323077,0.085470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,...,9.532428,7.439316,2.717949,17.846154,2.974359,1.282051,2.871795,2.666667,1.230769,1.424501
79,80,6.1,731,468,335,120,3.0,60,45,20,...,7.360483,4.998291,4.294872,12.000000,3.076923,0.641026,4.102564,4.615385,0.615385,0.569801
80,81,8.0,406,260,100,30,17.0,24,10,20,...,9.653092,2.776068,1.282051,6.666667,0.769231,3.632479,1.641026,1.025641,0.615385,1.709402
81,82,8.0,905,579,100,26,1.0,36,2,16,...,9.653092,6.188034,1.282051,14.846154,0.666667,0.213675,2.461538,0.205128,0.492308,1.424501
82,83,6.0,1130,723,190,93,1.0,12,39,14,...,7.239819,7.726496,2.435897,18.538462,2.384615,0.213675,0.820513,4.000000,0.430769,1.424501

In [58]:
def exmp(c,w,s):
    relw=w/39
    wqi=relw*(c/s)*100
    return wqi
x = exmp(df['Cl'], 2, 250)
df['sub_index_Cl'] = x

In [59]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,...,sub_index_EC,sub_index_TH,sub_index_TDS (m),sub_index_Na,sub_index_K,sub_index_Ca,sub_index_Mg,sub_index_SO4,sub_index_NO3,sub_index_Cl
0,1,8.0,734,470,205,43,3.0,42,24,6,...,5.018803,2.628205,12.051282,1.102564,0.641026,2.871795,2.461538,0.184615,0.284900,0.615385
1,2,6.8,791,506,270,31,3.0,48,37,4,...,5.408547,3.461538,12.974359,0.794872,0.641026,3.282051,3.794872,0.123077,4.843305,1.128205
2,3,6.8,922,590,270,55,6.0,32,46,17,...,6.304274,3.461538,15.128205,1.410256,1.282051,2.188034,4.717949,0.523077,10.256410,1.887179
3,4,7.2,336,215,130,16,4.0,20,19,6,...,2.297436,1.666667,5.512821,0.410256,0.854701,1.367521,1.948718,0.184615,1.424501,0.041026
4,5,8.5,972,622,60,183,6.0,12,7,43,...,6.646154,0.769231,15.948718,4.692308,1.282051,0.820513,0.717949,1.323077,0.085470,5.128205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,...,7.439316,2.717949,17.846154,2.974359,1.282051,2.871795,2.666667,1.230769,1.424501,3.076923
79,80,6.1,731,468,335,120,3.0,60,45,20,...,4.998291,4.294872,12.000000,3.076923,0.641026,4.102564,4.615385,0.615385,0.569801,0.615385
80,81,8.0,406,260,100,30,17.0,24,10,20,...,2.776068,1.282051,6.666667,0.769231,3.632479,1.641026,1.025641,0.615385,1.709402,1.435897
81,82,8.0,905,579,100,26,1.0,36,2,16,...,6.188034,1.282051,14.846154,0.666667,0.213675,2.461538,0.205128,0.492308,1.424501,1.435897
82,83,6.0,1130,723,190,93,1.0,12,39,14,...,7.726496,2.435897,18.538462,2.384615,0.213675,0.820513,4.000000,0.430769,1.424501,1.435897

In [60]:
def exmp(c,w,s):
    relw=w/39
    wqi=relw*(c/s)*100
    return wqi
x = exmp(df['F'], 5, 1.5)
df['sub_index_F'] = x

In [61]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,...,sub_index_TH,sub_index_TDS (m),sub_index_Na,sub_index_K,sub_index_Ca,sub_index_Mg,sub_index_SO4,sub_index_NO3,sub_index_Cl,sub_index_F
0,1,8.0,734,470,205,43,3.0,42,24,6,...,2.628205,12.051282,1.102564,0.641026,2.871795,2.461538,0.184615,0.284900,0.615385,34.188034
1,2,6.8,791,506,270,31,3.0,48,37,4,...,3.461538,12.974359,0.794872,0.641026,3.282051,3.794872,0.123077,4.843305,1.128205,11.965812
2,3,6.8,922,590,270,55,6.0,32,46,17,...,3.461538,15.128205,1.410256,1.282051,2.188034,4.717949,0.523077,10.256410,1.887179,10.256410
3,4,7.2,336,215,130,16,4.0,20,19,6,...,1.666667,5.512821,0.410256,0.854701,1.367521,1.948718,0.184615,1.424501,0.041026,19.658120
4,5,8.5,972,622,60,183,6.0,12,7,43,...,0.769231,15.948718,4.692308,1.282051,0.820513,0.717949,1.323077,0.085470,5.128205,54.700855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,...,2.717949,17.846154,2.974359,1.282051,2.871795,2.666667,1.230769,1.424501,3.076923,32.478632
79,80,6.1,731,468,335,120,3.0,60,45,20,...,4.294872,12.000000,3.076923,0.641026,4.102564,4.615385,0.615385,0.569801,0.615385,5.982906
80,81,8.0,406,260,100,30,17.0,24,10,20,...,1.282051,6.666667,0.769231,3.632479,1.641026,1.025641,0.615385,1.709402,1.435897,36.752137
81,82,8.0,905,579,100,26,1.0,36,2,16,...,1.282051,14.846154,0.666667,0.213675,2.461538,0.205128,0.492308,1.424501,1.435897,36.752137
82,83,6.0,1130,723,190,93,1.0,12,39,14,...,2.435897,18.538462,2.384615,0.213675,0.820513,4.000000,0.430769,1.424501,1.435897,0.085470

In [62]:
def exmp(c,w,s):
    relw=w/39
    wqi=relw*(c/s)*100
    return wqi
x = exmp(df['HCO3'], 1, 600)
df['sub_index_HCO3'] = x

In [63]:
df

,Sl no.,pH,EC,TDS (m),TH,Na,K,Ca,Mg,SO4,...,sub_index_TDS (m),sub_index_Na,sub_index_K,sub_index_Ca,sub_index_Mg,sub_index_SO4,sub_index_NO3,sub_index_Cl,sub_index_F,sub_index_HCO3
0,1,8.0,734,470,205,43,3.0,42,24,6,...,12.051282,1.102564,0.641026,2.871795,2.461538,0.184615,0.284900,0.615385,34.188034,1.388889
1,2,6.8,791,506,270,31,3.0,48,37,4,...,12.974359,0.794872,0.641026,3.282051,3.794872,0.123077,4.843305,1.128205,11.965812,1.435897
2,3,6.8,922,590,270,55,6.0,32,46,17,...,15.128205,1.410256,1.282051,2.188034,4.717949,0.523077,10.256410,1.887179,10.256410,1.324786
3,4,7.2,336,215,130,16,4.0,20,19,6,...,5.512821,0.410256,0.854701,1.367521,1.948718,0.184615,1.424501,0.041026,19.658120,0.705128
4,5,8.5,972,622,60,183,6.0,12,7,43,...,15.948718,4.692308,1.282051,0.820513,0.717949,1.323077,0.085470,5.128205,54.700855,0.521368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,7.9,1088,696,212,116,6.0,42,26,40,...,17.846154,2.974359,1.282051,2.871795,2.666667,1.230769,1.424501,3.076923,32.478632,1.324786
79,80,6.1,731,468,335,120,3.0,60,45,20,...,12.000000,3.076923,0.641026,4.102564,4.615385,0.615385,0.569801,0.615385,5.982906,0.854701
80,81,8.0,406,260,100,30,17.0,24,10,20,...,6.666667,0.769231,3.632479,1.641026,1.025641,0.615385,1.709402,1.435897,36.752137,0.363248
81,82,8.0,905,579,100,26,1.0,36,2,16,...,14.846154,0.666667,0.213675,2.461538,0.205128,0.492308,1.424501,1.435897,36.752137,1.799145
82,83,6.0,1130,723,190,93,1.0,12,39,14,...,18.538462,2.384615,0.213675,0.820513,4.000000,0.430769,1.424501,1.435897,0.085470,2.111111

In [67]:
z=df.iloc[:,14:]
c=z.sum(axis=1)

In [69]:
z['final index']=c
z.to_excel('WQI.xlsx')